@tailwind base;
@tailwind components;
@tailwind utilities;

/* 您可以在這裡加入其他全域樣式 */
body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
